@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  body {
    /* @apply bg-indigo-300; */
  }
}

@layer components {
  .btn-primary {
    @apply bg-indigo-400 py-2 px-4 rounded-xl font-bold text-white hover:bg-indigo-500 shadow-md shadow-indigo-800 px-8;
  }

  .btn-primary-content {
    @apply px-8;
  }

  .primary {
    @apply bg-gradient-to-r from-indigo-300 to-indigo-400 text-indigo-800 font-semibold font-sans;
  }

  .primary-border-b {
    @apply border-b-2 border-b-slate-500;
  }

  .center {
    @apply flex flex-row justify-center items-center;
  }

  .row {
    @apply pt-2 pb-2 md:pt-5 md:pb-5;
  }

  .topbar {
    /* position: relative;
    z-index: 2; */
  }

  .banner {
    background-image: url('../images/bgimage.png');
    color: white;
    @apply bg-no-repeat bg-top bg-cover h-screen;
  }

  .banner-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .banner-text {
    font-size: 2rem;
    @apply font-roboto-condensed text-shadow shadow-indigo-300;
  }
}
